node_modules/
npm-debug.log

coverage/

.directory
.idea
.project
.settings
.vscode

lib
!setupTopics.js

*.log
*~
.nyc_output

known_hosts
config
id_rsa
id_rsa.pub

test/tsconfig.test.tsbuildinfo
test/*.d.ts
test/*.js
test/*.js.map
